.CardArticle {
  display: inline-block;
  min-width: 300px;
  max-width: 450px;
  border-radius: 10px;
  padding: 30px;
  color: white;
  font-size: 1.3em;
  margin: 10px;
  position: relative;
  overflow: hidden;
  }

.CardArticle::before,
.CardArticle::after {
  position: absolute;
  content: '';
  width: 240px;
  height: 240px;
  background-color:white;
  border-radius: 50%;
  opacity: 0.3;
}

.CardArticle::before {
  left: 280px;
  bottom: 30px;
}

.CardArticle::after {
  top: 110px;
  left: 180px;
}





.CardArticle:nth-child(3n + 1) {
  background: linear-gradient(
    90deg,
    rgba(254, 190, 154, 1) 0%,
    rgba(255, 152, 151, 1) 50%,
    rgba(255, 142, 170, 1) 99%
  );
}

.CardArticle:nth-child(3n + 2) {
  background: linear-gradient(
    90deg,
    rgba(137, 199, 246, 1) 0%,
    rgba(52, 158, 232, 1) 50%,
    rgba(51, 151, 226, 1) 99%
  );
}

.CardArticle:nth-child(3n + 3) {
  background: linear-gradient(
    90deg,
    rgba(125, 218, 210, 1) 0%,
    rgba(22, 209, 188, 1) 50%,
    rgba(52, 216, 192, 1) 99%
  );
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardStat {
  font-weight: bold;
  padding-top: 20px;
}

.result {
  padding-top: 40px;
}
